<ul id="leftNavi">
{% for menu in menus %}
    <li class="{% if currentRoute == menu.routeName %}selected{% endif %}">
        <a href="{{ path(menu.routeName) }}" class="menu-icon-{{ menu.iconName }}">
          <span>{{ menu.name|trans }}</span>
        </a>
    </li>
{% endfor %}
</ul>