{% extends 'esperantoAdminBundle::dialog.html.twig' %}

{% block content %}
    <form method="POST" action="{{ path(admin.config.getParameter('manage_route'), { name: data.name }) }}">
        {{ form_widget(form.container) }}
        {% for child in form %}
            {% if not child.rendered %}
                {{ form_row(child) }}
            {% endif %}
        {% endfor %}
        {{ block('buttonRow') }}
    </form>
{% endblock %}